<h4 style="color: black;"> <%= partner.name %> </h4>
<p style="color: black;"> <%= partner.address %>, <%= partner.zip_code %> <%= partner.place %> </p>
<%= link_to "https://#{partner.link}" do%>
  <span class="button_1"> Webseite </span>
<% end %>
