<p id="notice"><%= notice %></p>
<div class="container">
<h1><%= t('partner') %></h1>
</div>
<div id="map"
     style="width: 100%; height: 50vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
  <br>
<div class="container">
  <table class="table table-borderless text-white">
    <% @grouped_partners.each do |country, partners| %>
      <% Carmen.i18n_backend.locale = :de %>
      <% @code = Carmen::Country.named(country).code.downcase %>
      <% Carmen.i18n_backend.locale = I18n.locale %>
      <thead>
        <tr>
          <th colspan="5"> <%= Carmen.i18n_backend.t("world.#{@code}.name") %> </th>
        </tr>
      </thead>

      <tbody>
        <% partners.each do |partner| %>
          <tr>
              <th scope="row"> <%= partner.name %> </td>
              <td> <small> <%= partner.address %>, <%= partner.zip_code %> <%= partner.place %> </small> </td>
              <td>
                <small>
                  <%= link_to "https://#{partner.link}" do%>
                    <span class="button_2">
                      <p class="d-inline"> <%= fa_icon "external-link-alt" %> </p>
                      <p class="d-none d-lg-inline"> Website</p>
                    </span>
                  <% end %>
                </small>

              </td>
              <% if !spree_current_user.blank? && spree_current_user.spree_roles.first.name == "admin" %>
                <td> <%= link_to edit_partner_path(partner) do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to partner, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            <% end %>
           </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>

  <br>
  <% if !spree_current_user.blank? && spree_current_user.spree_roles.first.name == "admin" %>
    <%= link_to '+ Händler hinzufügen', new_partner_path, class:"button_2" %>
  <% end %>
</div>

<script type='text/javascript'>
  (function()
  {
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
  })();
</script>
