<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <div class="row border-bottom border-light py-3 align-items-center line-item">
    <div class="col-12 col-lg-6">
      <div class="row align-items-center">
        <div class="col-6 cart-item-image" data-hook="cart_item_image">
          <%= link_to(render('spree/shared/image',
                             image: (variant.gallery.images.first || variant.product.gallery.images.first),
                             size: :large), variant.product) %>
        </div>
        <div class="col-6 cart-item-description" data-hook="cart_item_description">
          <p><%= line_item.name %></p>
          <small> <%= variant.options_text %> </small>
          <% if line_item.insufficient_stock? %>
            <span class="out-of-stock">
              <%= t('spree.out_of_stock') %>&nbsp;&nbsp;<br />
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="cart-item-price col-4 col-lg-2" data-hook="cart_item_price">
      <small> <%= line_item.single_money.to_html %> </small>
    </div>
    <div class="cart-item-quantity col-2 col-lg-1" data-hook="cart_item_quantity">
      <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5, style: "width: 50px; text-align: center;" %>
    </div>
    <div class="cart-item-total col-4 col-lg-2" data-hook="cart_item_total">
     <small> <%= line_item.display_amount.to_html unless line_item.quantity.nil? %> </small>
    </div>
    <div class="cart-item-delete col-2 col-lg-1" data-hook="cart_item_delete">
      <%= link_to image_tag('icons/delete.png'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
    </div>
  </div>
<% end -%>
