<div data-hook="billing_fieldset_wrapper">
  <fieldset id="billing" data-hook>
    <%= form.fields_for :bill_address do |bill_form| %>
      <legend align="center"><h2> <%= t('spree.billing_address') %> </h2></legend>
      <%= render partial: 'spree/address/form', locals: { form: bill_form, address_type: 'billing', address: @order.bill_address } %>
    <% end %>
  </fieldset>
</div>

<div data-hook="shipping_fieldset_wrapper">
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
      <legend align="center"><h2 class="pt-5"> <%= t('spree.shipping_address') %></h2> </legend>
       <div class="checkbox" data-hook="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
        <%= label_tag :order_use_billing, t('spree.use_billing_address'), id: 'use_billing' %>
      </div>
      <%= render partial: 'spree/address/form', locals: { form: ship_form, address_type: 'shipping', address: @order.ship_address } %>
    <% end %>
  </fieldset>
</div>
<hr class="clear" />

<div class="p-3 field field-required" style='clear: both'>
  <%= form.label :email %><br />
  <%= form.email_field :email, required: true, class: 'form-control' %>
</div>
<% if @order.contain_skis? %>
  <% if @order.contain_skis? && @order.contain_binding? %>
    <div class="alert alert-dark rounded p-3 m-3" role="alert">
      <small><%= t('ski_binding_selected') %></small>
    </div>
  <% else %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
       <%=t("no_binding_selected")%>
      <hr>
      <small><%=t("bingings_in_shop")%></small>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>

<div class="form-buttons p-3" data-hook="buttons">
  <%= submit_tag t('save_and_continue'), class: 'button_2' %>
  <% if try_spree_current_user %>
    <span data-hook="save_user_address">
      &nbsp; &nbsp;
      <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
      <%= label_tag :save_user_address, t('spree.save_my_address') %>
    </span>
  <% end %>
</div>
