<fieldset id='shipping_method' data-hook>
  <legend align="center"> <h2> <%= t('spree.delivery') %> </h2> </legend>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <%= form.fields_for :shipments do |ship_form| %>

        <div class="shipment">
<!--           <h3 class="stock-location" data-hook="stock-location">
            <%= t('spree.package_from') %>
            <strong class="stock-location-name" data-hook="stock-location-name"><%= ship_form.object.stock_location.name %></strong>
          </h3> -->

          <div class="stock-contents" data-hook="stock-contents">
            <div class="row border-bottom border-light py-3 align-items-center">
              <div class="col-8"> <small> <%= t('spree.item') %> </small> </div>
              <div class="col-1"> <small> <%= t('spree.qty') %> </small> </div>
              <div class="col-3 text-right"> <small> <%= t('spree.price') %> </small> </div>
            </div>
            <% ship_form.object.manifest.each do |item| %>
              <div class="row border-bottom border-light py-3 align-items-center">
                <div class="col-8">
                  <div class="row align-items-center">
                    <div class="col-3 item-image">
                      <%= render('spree/shared/image',
                                  image: (item.variant.gallery.images.first || item.variant.product.gallery.images.first),
                                  size: :product) %>
                    </div>
                    <div class="col-9 item-name">
                      <div><%= item.variant.name %></div>
                      <div style="font-size:xx-small;"> <%= item.variant.options_text %> </div>
                    </div>
                  </div>
                </div>
                <div class="item-qty col-1">
                  <%= item.quantity %>
                </div>
                <div class="item-price col-3 text-right">
                 <%= display_price(item.variant) %>
                </div>
              </div>
            <% end %>
          </div>

          <h3 class="stock-shipping-method-title pt-5 pb-3"><%= t('spree.shipping_method') %></h3>
          <div class="shipping-methods p-3">
            <% ship_form.object.shipping_rates.each do |rate| %>
              <div class="shipping-method row pb-3 justify-content-between">
                  <%= ship_form.radio_button :selected_shipping_rate_id, rate.id, class:"col-1 align-middle" %>
                  <span class="rate-name col-9"><%= rate.name %>: </span>
                  <span class="rate-cost col-2 text-right"><%= rate.display_cost %></span>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>

      <% if @differentiator.try(:missing?) %>
        <div class="shipment unshippable">
          <h3 class="stock-location" data-hook="stock-location">
            <%= t('spree.unshippable_items') %>
          </h3>
          <table class="stock-contents" data-hook="stock-missing">
            <colgroup>
              <col style="width: 10%;" />
              <col style="width: 60%;" />
              <col style="width: 10%;" />
              <col style="width: 20%;" />
            </colgroup>
            <thead>
              <th></th>
              <th align='left'><%= t('spree.item') %></th>
              <th><%= t('spree.qty') %></th>
              <th><%= t('spree.price') %></th>
            </thead>
            <tbody>
              <% @differentiator.missing.each do |variant, quantity| %>
                <tr class="stock-item">
                  <td class="item-image">
                    <%= render 'spree/shared/image',
                      image: (variant.gallery.images.first || variant.product.gallery.images.first),
                      size: :mini %>
                  </td>
                  <td class="item-name"><%= variant.name %></td>
                  <td class="item-qty"><%= quantity %></td>
                  <td class="item-price"><%= display_price(variant) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

    </div>
    <% if Spree::Config[:shipping_instructions] %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, t('spree.shipping_instructions') %><br />
        <%= form.text_area :special_instructions, cols: 40, rows: 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t('save_and_continue'), class: 'button_2' %>
</div>
