<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

        <h1 class="text-center py-4" itemprop="name"><%= @product.name %></h1>
        <div class="row justify-content-around">
          <div class="col-12 col-lg-4 pb-4">
            <div id="product-images" data-hook="product_images" class="row">
              <% if @product.gallery.images.size > 1 %>
                <div id="thumbnails" data-hook class="col-3">
                  <%= render partial: 'thumbnails' %>
                </div>
                <div class="col-9">
              <% end %>
              <div id="main-image" data-hook>
                <%= render partial: 'image' %>
              </div>
              <% if @product.gallery.images.size > 1 %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div data-hook="product_properties">
              <%= render partial: 'properties' %>
            </div>
        <!--<div data-hook="promotions">
              <%= render partial: 'promotions' %>
            </div> -->
            <% unless @product.description.nil? %>
              <div id="product-description" data-hook="product_description">
                <div itemprop="description" data-hook="description">
                  <%= product_description(@product) rescue t('spree.product_has_no_description') %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-11 col-lg-4 pb-5">
              <div id="cart-form" data-hook="cart_form">
                <%= render partial: 'cart_form' %>
              </div>
          </div>
        </div>
<!--         <%= render partial: 'taxons' %> -->
  </div>
<% end %>
