<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>
    <h1 class="text-center py-4" itemprop="name"><%= @product.name %></h1>
    <div class="row justify-content-around">
      <% if @product.gallery.images.size > 1 %>
        <div class="col-12 col-lg-4 mb-4" style="background-color: #757575; border-radius: 15px;">
          <div id="product-images" data-hook="product_images" class="row align-items-center justify-content-around">
            <div id="thumbnails" data-hook class="col-3">
              <%= render partial: 'thumbnails' %>
            </div>
            <div class="col-9">
              <div id="main-image" class="row align-items-center justify-content-around py-2" data-hook>
                <%= render partial: 'image' %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-12 col-lg-4 mb-4 d-flex align-items-center justify-content-around" style="background-color: #757575; border-radius: 15px;">
          <div id="product-images" data-hook="product_images" class="row pr-1">
            <div id="main-image" data-hook>
              <%= render partial: 'image' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-12 col-lg-4">
        <div data-hook="product_properties">
          <%= render partial: 'properties' %>
        </div>
        <% unless @product.description.nil? %>
          <div id="product-description" data-hook="product_description">
            <div itemprop="description" data-hook="description">
              <%= product_description(@product) rescue t('spree.product_has_no_description') %>
            </div>
          </div>
        <% end %>
        <% if @product.is_ski? %>
          <%= link_to spree.nested_taxons_path("equipment"), style:"text-decoration: none;" do %>
            <div class="alert-dark rounded p-3 m-3" role="alert">
              <small><%= t('select_binding') %></small>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-11 col-lg-4 pb-5">
          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
      </div>
    </div>
  </div>
<% end %>
