  <% unless current_page?(main_app.contact_path) %>
    <div class="text-center">
      <h2 class="p-4"> <%= t('questions') %> </h2>
      <%= link_to main_app.contact_path, class: "mb-4 button_2" do %>
         <%= t('contact_us') %>
      <% end %>
    </div>
  <% end %>
  <div class="footer ">
    <%= link_to "https://www.instagram.com/swissmassiv/" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.facebook.com/swissmassiv" do %>
      <i class="fab fa-facebook"></i>
    <% end %>
    <%= link_to "https://twitter.com/swissmassiv" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/company/swiss-massiv/" do %>
      <i class="fab fa-linkedin-in"></i>
    <% end %>
  </div>
