<div class="footer">
    <%= link_to "https://www.instagram.com/swissmassiv/" do %>
      <%= fa_icon "instagram" %>
    <% end %>
    <%= link_to "https://www.facebook.com/swissmassiv" do %>
      <%= fa_icon "facebook" %>
    <% end %>
    <%= link_to "https://twitter.com/swissmassiv" do %>
      <%= fa_icon "twitter" %>
    <% end %>
    <%= link_to "https://www.linkedin.com/company/swiss-massiv/" do %>
      <%= fa_icon "linkedin" %>
    <% end %>
    <%= link_to main_app.contact_path do %>
      <%= fa_icon "envelope" %>
    <% end %>
</div>
