<nav class="site-header sticky-top py-3">
  <div class="d-flex justify-content-around align-items-center layer_1">
    <%= link_to main_app.about_path, class: "p-2" do %>
      <p class="d-block header-icon"> <%= fa_icon "info-circle" %> </p>
      <p class="d-block header-text-small"> <%= t('about') %> </p>
    <% end %>
    <%= link_to root_path, class: "p-2" do %>
      <%= image_tag ("logo_handmade_white.PNG"), style: "height: 40px;" %>
    <% end %>
    <div class="dropdown">
      <button class="dropdown-toggle" style="background-color: #0b0b0b; color: white; border: none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= fa_icon "language" %>
        <p class="d-block header-text-small"> <%= I18n.locale.to_s %> </p>
      </button>
      <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
        <% unless I18n.locale == :de %>
          <%= link_to "Deutsch", url_for( locale: "de" ), class: "dropdown-item", style: "background-color: #0b0b0b;"%>
        <% end %>
        <% unless I18n.locale == :en %>
          <%= link_to "English", url_for( locale: "en" ), class: "dropdown-item", style: "background-color: #0b0b0b;"%>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<%# render partial: 'spree/shared/main_nav_bar' if store_menu? %>
