<nav class="site-header sticky-top py-3">
  <div class="d-flex justify-content-around align-items-center layer_1">

    <%= link_to main_app.partners_path, class: "p-2" do %>
      <p class="d-block header-icon"> <i class="fas fa-store-alt"></i> </p>
      <p class="d-none d-md-block header-text"> <%= t('partner') %> </p>
    <% end %>
    <%= link_to main_app.about_path, class: "p-2" do %>
      <p class="d-block header-icon"> <%= fa_icon "info-circle" %> </p>
      <p class="d-none d-md-block header-text"> <%= t('about') %> </p>
    <% end %>
    <%= link_to root_path, class: "p-2" do %>
      <%= image_tag ("logo_white.png"), style: "height: 40px;" %>
    <% end %>
    <% if I18n.locale == :de %>
      <%= link_to main_app.events_path, class: "p-2" do %>
        <p class="d-block header-icon"> <%= fa_icon "calendar-alt" %></i></p>
        <p class="d-none d-md-block header-text"> <%= t('event') %> </p>
      <% end %>
    <% else %>
    <div class="d-block"></div>
    <% end %>
    <div class="dropdown">
      <button class="dropdown-toggle" style="background-color: #151515; color: white; border: none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= fa_icon "language" %>
        <p class="d-inline header-text"> <%= I18n.locale.to_s %> </p>
      </button>
      <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
        <% unless I18n.locale == :de %>
          <%= link_to "Deutsch", url_for( locale: "de" ), class: "dropdown-item", style: "background-color: #151515;"%>
        <% end %>
        <% unless I18n.locale == :en %>
          <%= link_to "English", url_for( locale: "en" ), class: "dropdown-item", style: "background-color: #151515;"%>
        <% end %>
<!--         <% unless I18n.locale == :fr %>
          <%= link_to "Français", url_for( locale: "fr" ), class: "dropdown-item", style: "background-color: #151515;"%>
        <% end %>
        <% unless I18n.locale == :it %>
          <%= link_to "Italiano", url_for( locale: "it" ), class: "dropdown-item", style: "background-color: #151515;"%>
        <% end %> -->
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center pt-1 layer_2">
    <%= link_to main_app.skis_path do %>
     <p class="d-inline header-icon"> <i class="fas fa-skiing"></i> </p>
     <p class="d-none d-md-inline header-icon"> Skis </p>
    <% end %>
    <%= link_to spree.nested_taxons_path("equipment") do %>
      <p class="d-inline header-icon"> <i class="fas fa-tshirt"></i> </p>
      <p class="d-none d-md-inline header-icon"> <%= t('equipment') %>  </p>
    <% end %>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="form-group">
        <input class="string required" style="background-color: #151515; color: white; border: none;" type="text" name="search[query]" id="search_query" placeholder="Produktsuche" />
        <div class="search_icon">
          <%= fa_icon "search" %>
        </div>
      </div>
    <% end %>
    <div id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </div>
    <% unless spree_current_user.blank? %>
      <%= link_to spree.account_path(spree_current_user.id) do %>
        <p class="d-block header-icon"> <%= fa_icon "user" %> </p>
        <p class="d-none d-md-block header-text"> Account </p>
      <% end %>
    <% else %>
      <%= link_to spree.new_spree_user_session_path do %>
        <p class="d-block header-icon"> <%= fa_icon "user" %> </p>
        <p class="d-none d-md-block header-text"> Account </p>
      <% end %>
    <% end %>
    <%= link_to spree.cart_path do %>
      <p class="d-block header-icon"> <%= fa_icon "shopping-cart" %> </p>
      <p class="d-none d-md-block header-text"> <%= t('cart') %> </p>
    <% end %>
  </div>
</nav>
<%# render partial: 'spree/shared/main_nav_bar' if store_menu? %>
