<h1 class="text-center py-4">swiss massiv</h1>
<div class="row justify-content-around text-center pb-4">
  <div class="col-12 col-md-9 col-lg-6">
    <%= t('unique_text') %>
  </div>
</div>
<div class="row justify-content-center py-5">
  <div class="col-3 col-md-3 col-lg-2" style="background-image: url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604722/Assets/unique_awmv9j.jpg); background-size: cover;"></div>
  <div class="col-9 col-md-6 col-lg-3 pl-3">
    <h1 class="text-right"><%= t('unique') %> </h1>
    <p class="text-right" style="font-weight: 700;">  <%= t('unique_lead') %> </p>
  </div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604722/Assets/tree_pcqwjm.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('rigour') %></h1>
    <p>"<%= t('quote') %>"</p>
    <p style="font-style: italic;"> René Unternährer </p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599602442/Assets/hightech_vccnph.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('hightech') %></h1>
    <p><%= t('hightech_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599602441/Assets/innovative_yfdbdl.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('innovative') %></h1>
    <p><%= t('innovative_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604719/Assets/one_of_a_kind_mxzhuq.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('one_of_a_kind') %>.</h1>
    <p><%= t('one_of_a_kind_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604720/Assets/technology_bsrlqd.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('technology') %></h1>
    <p><%= t('technology_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599602442/Assets/hand_crafted_hj7z9j.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('hand_crafted') %></h1>
    <p><%= t('hand_crafted_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604756/Assets/many_layered_c4aqo4.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('many_layered') %></h1>
    <p><%= t('many_layered_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604718/Assets/quality_mlu5nb.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('quality') %></h1>
    <p><%= t('quality_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599602442/Assets/heart_g41wyi.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('heart') %></h1>
    <p><%= t('heart_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604718/Assets/precision_kw4pbt.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('precision') %></h1>
    <p><%= t('precision_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599601167/Assets/detail_i1yjpi.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('detail') %></h1>
    <p><%= t('detail_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604719/Assets/pressing_z6whxl.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('pressing') %></h1>
    <p><%= t('pressing_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599598972/Assets/bamboo_we2vfe.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('bamboo') %></h1>
    <p><%= t('bamboo_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604724/Assets/ski_preview_vjoq93.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('metal') %></h1>
    <p><%= t('metal_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599601170/Assets/engraving_l27a4i.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('engraving') %></h1>
    <p><%= t('engraving_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599601167/Assets/edges_hjutsm.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('edges') %></h1>
    <p><%= t('edges_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599599701/Assets/base_phgwzh.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('base') %></h1>
    <p><%= t('base_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599602442/Assets/limited_jyjnts.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('limited') %></h1>
    <p><%= t('limited_text') %></p>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<iframe width="100%" height="500vh"
src="https://www.youtube.com/embed/yZ6W62qhjVA">
</iframe>
<div style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604722/Assets/skier_rpd2bp.jpg); background-size: cover; background-position: right; height: 400px;">
</div>
