<div class="row justify-content-center py-5"  style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604722/Assets/tree_pcqwjm.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('handmade') %></h1>
    <p class="pb-3" >"<%= t('quote') %>" <i>- René Unternährer </i></p>
    <%= link_to main_app.about_path, class: "button_2" do %>
      <%= fa_icon "info-circle" %> <%= t('about') %>
    <% end %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
  <div style="position: absolute; right: 40px; bottom: 40px;">
    <%= cl_image_tag("Assets/swisslabel-logo_izofhp.png", :height=>50, :quality=>"auto:best", :crop=>"scale", :fetch_format=>:auto) %>
    <%= cl_image_tag("Assets/UBE_Partner_Betrieb_2017_cv3zge.png", :height=>50, :quality=>"auto:best", :crop=>"scale", :fetch_format=>:auto) %>
  </div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604724/Assets/ski_preview_vjoq93.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('one_of_a_kind') %></h1>
    <p class="pb-3"><%= t('ski_preview') %></p>
    <%= link_to main_app.skis_path, class: "button_2" do %>
      <%= fa_icon "skiing" %> Skis
    <% end %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599602441/Assets/jacke_vc3pu5.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('equipment') %></h1>
    <p class="pb-3"><%= t('equipment_preview') %> </p>
    <%= link_to spree.nested_taxons_path("equipment"), class: "button_2" do %>
        <%= fa_icon "tshirt" %> <%= t('equipment') %>
    <% end %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604724/Assets/shop_t29h73.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('stores') %></h1>
    <p class="pb-3"><%= t('stores_preview') %></p>
    <%= link_to main_app.partners_path, class: "button_2" do %>
      <%= fa_icon "store-alt" %> <%= t('partner') %>
    <% end %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<% if I18n.locale == :de %>
  <div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604719/Assets/skitest_ngzqup.jpg); background-size: cover; background-position: center;">
    <div class="col-9 col-md-6 col-lg-4 py-5">
      <h1>Ski-Tests</h1>
      <p class="pb-3">An einem Ski-Test können Sie unsere Skis gratis testfahren und sich von der Qualität überzeugen lassen.</p>
      <%= link_to main_app.events_path, class: "button_2" do %>
        <%= fa_icon "calendar-alt" %> Termine
      <% end %>
    </div>
    <div class="col-1 col-md-3 col-lg-2"></div>
  </div>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h2>Trotz Shutdown für Dich da:</h2>
    <hr>
    <p>Abholung vorbestellter Ware und Skimiete weiterhin möglich.</p>
    <p>Gerne berate ich Dich telefonisch +41 78 667 78 32.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end%>
