<div class="container">
  <h1 class="py-4 text-center"> Schreiner Ski </h1>
</div>
<div class="row justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/v1633940017/Assets/mountains_ys8ivp.jpg); background-size: cover; background-position: right;">
  <div class="col-sm-10 col-lg-5 pt-5">
    <p>Der Schreiner Ski ist als Ulme Gravur oder Black Gravur mit "Der Schreiner - Ihr Macher" eingraviert (siehe links auf Foto) oder als Ulme oder Enlebucher Eibe mit "Der Schreiner - Ihr Macher" als Platte (siehe rechts auf Foto) erhältlich. </p>
    <p>Für eine unverbindliche Beratung können Sie mich gerne telefonisch unter 078 667 78 32 erreichen. </p>
    <p>Als VSSM-Mitglied können Sie den Schreiner Ski exklusiv zu den unten genannten Preisen kaufen.</p>
    <p>Gerne nehme ich Ihre Bestellung telefonisch entgegen oder über den Webshop, indem Sie beim Auschecken den Gutscheincode "schreiner" anwenden. </p>
  </div>
  <div class="col-sm-10 col-lg-5 d-flex justify-content-around pt-1">
    <%= cl_image_tag("Assets/schreiner_1_je5ici", style: "height: 50vh;")%>
    <%= cl_image_tag("Assets/schreiner_2_be2c6e", style: "height: 50vh;")%>
  </div>
</div>
<div class="container py-5">
  <h1> Preise </h1>
  <p> Preise exklusiv für VSSM Mitglieder: </p>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <table class="table table-borderless text-white">
        <tbody>
          <tr><td><u>Black Gravur mit Bindung</u></td></tr>
          <tr>
            <td>Tyrolia PRD 12</td>
            <td class="text-right">1400.– </td>
          </tr>
          <tr>
            <td>Vist VM412</td>
            <td class="text-right">1500.–</td>
          </tr>
          <tr><td><u>Ulme Gravur mit Bindung</u></td></tr>
          <tr>
            <td>Tyrolia PRD 12</td>
            <td class="text-right">1400.–</td>
          </tr>
          <tr>
            <td>Vist VM412</td>
            <td class="text-right">1500.–</td>
          </tr>
          <tr><td><u>Entlebucher Eibe mit Bindung</u></td></tr>
          <tr>
            <td>Vist VM412</td>
            <td class="text-right">1600.–</td>
          </tr>
          <tr>
            <td>Tourenbindung</td>
            <td class="text-right">auf Anfrage</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6">
      <table class="table table-borderless text-white">
        <tbody>
          <tr><td><u>Skistöcke 110–135 cm</u></td></tr>
          <tr>
            <td>Bamboo (Carbon fourniert)</td>
            <td class="text-right">120.—</td>
          </tr>
          <tr>
            <td>Schwarz-weiss (Carbon)</td>
            <td class="text-right">105.–</td>
          </tr>
          <tr><td><u>Personalisierung</u></td></tr>
          <tr>
            <td>Initialen aus Edelstahl</td>
            <td class="text-right">120.–</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604719/Assets/skitest_ngzqup.jpg); background-size: cover; background-position: center;">
  <div class="container py-5">
    <h1 class="pb-3">Ski-Tests</h1>
    <p> An einem exklusiven Ski-Test können Sie unsere Skis gratis testfahren und sich von der Qualität überzeugen lassen. Termine exklusiv für VSSM Mitglieder:</p>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <table class="table table-borderless text-white">
          <tbody>
            <tr>
              <td>4. Dezember 2021</td>
              <td class="text-right">Engelberg (Stand)</td>
            </tr>
            <tr>
              <td>5. Dezember 2021</td>
              <td class="text-right">Engelberg (Stand)</td>
            </tr>
            <tr>
              <td>8. Dezember 2021</td>
              <td class="text-right">Lenzerheide (Talstation Pedra Grossa)</td>
            </tr>
            <tr>
              <td>11. Dezember 2021</td>
              <td class="text-right">Hoch-Ybrig (Alter Sternen) </td>
            </tr>
            <tr>
              <td>11. Dezember 2021</td>
              <td class="text-right">Hoch-Ybrig (Alter Sternen) </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-lg-6">
        <table class="table table-borderless text-white">
          <tbody>
            <tr>
              <td>12. Dezember 2021</td>
              <td class="text-right">Hoch-Ybrig (Alter Sternen)</td>
            </tr>
            <tr>
              <td>18. Dezember 2021</td>
              <td class="text-right">Leukerbad (Bergstation Torrent)</td>
            </tr>
            <tr>
              <td>18. Dezember 2021</td>
              <td class="text-right">Meiringen-Hasliberg (Käserstatt)</td>
            </tr>
            <tr>
              <td>19. Dezember 2021</td>
              <td class="text-right">Meiringen Hasliberg (Käserstatt)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h2 class="text-center p-3" > Anmeldung zum Ski-Test: </h2>
    <div class="row justify-content-center pl-4">
      <div id="contact">
        <%= simple_form_for(@contact, url: url_for(controller: 'pages', action: 'schreiner_send')) do |f| %>
          <%= f.label :name, "Name" %></br>
          <%= f.text_field  :name, style: "width: 100%", required: true %></br></br>
          <%= f.label :email, "E-Mail-Adresse" %></br>
          <%= f.text_field :email, style: "width: 100%", required: true %></br></br>
          <%= f.label :phone, "Telefonnummer" %> <br>
          <%= f.text_field :phone, style: "width: 100%" %></br></br>
          <%= f.input :message, label: "Ski-Test", style: "width: 100%", collection: ["4. Dezember 2021 in Engelberg (Stand)", "5. Dezember 2021 in Engelberg (Stand)", "8. Dezember 2021 in Lenzerheide (Talstation Pedra Grossa)", "11. Dezember 2021 in Hoch-Ybrig (Alter Sternen)", "12. Dezember 2021 in Hoch-Ybrig (Alter Sternen)", "18. Dezember 2021 in Leukerbad (Bergstation Torrent)", "18. Dezember 2021 in Meiringen-Hasliberg (Käserstatt)", "19. Dezember 2021 in Meiringen Hasliberg (Käserstatt)"], required: true %></br>
          <div style= "display: none;" >
            <%= f.label :nickname%>
            <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <%= f.submit "Jetzt anmelden", class: "button_2" %>
          </br>
          </br>
        <% end %>
        <div  id="flash-message">
          <%= render 'shared/flash' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599601170/Assets/engraving_l27a4i.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('personalised') %></h1>
    <h2><%= t('personalised_header') %></h2>
    <p class="pb-2"><%= t('personalised_text') %></p>
    <%= link_to t('more'), personalised_path, class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514289247233-4408d3a2c300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80); background-size: cover; background-position: right;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('allrounder') %></h1>
    <h3><%= t('allrounder_header') %></h3>
    <p class="pb-2"><%= t('allrounder_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/allrounder"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1518784095177-ef1da6313126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('allmountain') %></h1>
    <h3><%= t('allmountain_header') %></h3>
    <p class="pb-2"><%= t('allmountain_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/allmountain"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599642964/Assets/IMG_3152_uzw9mc.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('slalom_carver') %></h1>
    <h2><%= t('slalom_carver_header') %></h2>
    <p class="pb-2"><%= t('slalom_carver_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/slalom-carver"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517586073558-0acdf831b1a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: right;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('slalom_race_carver') %></h1>
    <h2><%= t('slalom_race_carver_header') %></h2>
    <p class="pb-2"><%= t('slalom_race_carver_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/slalom-race-carver"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
