<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514289247233-4408d3a2c300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80); background-size: cover; background-position: right;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('allrounder') %></h1>
    <h3><%= t('allrounder_header') %></h3>
    <p class="pb-2"><%= t('allrounder_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/allrounder"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599642964/Assets/IMG_3152_uzw9mc.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('slalom_carver') %></h1>
    <h2><%= t('slalom_carver_header') %></h2>
    <p class="pb-2"><%= t('slalom_carver_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/slalom-carver"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517586073558-0acdf831b1a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: right;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('slalom_race_carver') %></h1>
    <h2><%= t('slalom_race_carver_header') %></h2>
    <p class="pb-2"><%= t('slalom_race_carver_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/slalom-race-carver"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/v1682246070/Assets/allmountain_uxijpg.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('allmountain') %></h1>
    <h3><%= t('allmountain_header') %></h3>
    <p class="pb-2"><%= t('allmountain_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/allmountain"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/v1682246070/Assets/freeride_jr2cgr.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('freeride') %></h1>
    <h3><%= t('freeride_header') %></h3>
    <p class="pb-2"><%= t('freeride_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("skis/freeride"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599601170/Assets/engraving_l27a4i.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('personalised') %></h1>
    <h2><%= t('personalised_header') %></h2>
    <p class="pb-2"><%= t('personalised_text') %></p>
    <%= link_to t('more'), personalised_path, class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>
<div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/v1618683053/Assets/Testkis_igqsul.jpg); background-size: cover; background-position: center;">
  <div class="col-9 col-md-6 col-lg-4 py-5">
    <h1><%= t('testskis') %></h1>
    <h2><%= t('testskis_header') %></h2>
    <p class="pb-2"><%= t('testskis_text') %></p>
    <%= link_to t('more'), spree.nested_taxons_path("testskis"), class: "button_2" %>
  </div>
  <div class="col-1 col-md-3 col-lg-2"></div>
</div>


<% if I18n.locale == :de %>
  <div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604722/Assets/skier_rpd2bp.jpg); background-size: cover; background-position: right;">
    <div class="col-9 col-md-6 col-lg-4 py-5">
      <h1><%= t('mieten') %></h1>
      <h2><%= t('mieten_header') %></h2>
      <p class="pb-2"><%= t('mieten_text') %></p>
      <%= link_to t('more'), mieten_path, class: "button_2" %>
    </div>
    <div class="col-1 col-md-3 col-lg-2"></div>
  </div>
  <div class="row justify-content-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599598972/Assets/bamboo_we2vfe.jpg); background-size: cover; background-position: center;">
    <div class="col-9 col-md-6 col-lg-4 py-5">
      <h1><%= t('service') %></h1>
      <h2><%= t('service_header') %></h2>
      <p class="pb-2"><%= t('service_text') %></p>
      <%= link_to t('more'), service_path, class: "button_2" %>
    </div>
    <div class="col-1 col-md-3 col-lg-2"></div>
  </div>
<% end %>
