<div class="container">
  <div class="contact-items">
    <div>
      <br>
      <h3>swiss massiv</h3>
      <p>René Unternährer</p>
      <p>Entlebucherstrasse 7</p>
      <p>6112 Doppleschwand</p>
      <br>
      <p>rene@swissmassiv.ch</p>
      <p>+41 78 667 78 32</p>
      <% if I18n.locale == :de %>
        <br>
        <h4>Öffnungszeiten:</h4>
        <h5> Montag – Freitag</h5>
        <p>8.00 – 12.00 / 13.30 – 17.30</p>
        <h5>Samstag</h5>
        <p>auf Anfrage</p>
      <% end %>
      <br>
      <%= cl_image_tag("Assets/shop_entry_wdtvu9.jpg", style: "width: 100%;") %>
    </div>
     <div class="contact-map">
      <div id="map" style="padding-bottom: 25px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
<!--   <div class="contact-items">
    <div id="contact">
      <%= simple_form_for(@contact) do |f| %>
        <%= f.label :name, t("name") %></br>
        <%= f.text_field  :name, required: true %></br></br>
        <%= f.label :email, t("email") %></br>
        <%= f.text_field :email, required: true %></br></br>
        <%= f.label :phone , t("phone") %> <br>
        <%= f.text_field :phone %></br></br>
        <%= f.label :message , t("message") %></br>
        <%= f.text_area :message, rows: 8, cols: 40, required: true %></br>
        <div style= "display: none;" >
          <%= f.label :nickname%>
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>
        </br>
        <%= f.submit t("send_message"), class: "button_2" %>
        </br>
        </br>
      <% end %>
      <div  id="flash-message">
        <%= render 'shared/flash' %>
      </div>
    </div> -->
 <!--    <div class="contact-map">
      <div id="map" style="padding-bottom: 25px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div> -->
</div>

<script type='text/javascript'>
  (function()
  {
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
  })();
</script>
