<div class="container">
  <div class="contact-items">
    <div class="contact-info">
      <h3>swissmassiv</h3>
      <p>René Unternährer</p>
      <p>Entlebucherstrasse 7</p>
      <p>6112 Doppleschwand</p>
      <br>
      <p>rene@swissmassiv.ch</p>
      <p>+41 78 667 78 32</p>
      <br>
      <div id="contact">
        <%= simple_form_for(@contact) do |f| %>
            <%= f.label :name, t("name") %></br>
            <%= f.text_field  :name, required: true %></br>
            <%= f.label :email, t("email") %></br>
            <%= f.text_field :email, required: true %></br>
            <%= f.label :phone , t("phone") %> <br>
            <%= f.text_field :phone %>
            <%= f.label :message , t("message") %></br>
            <%= f.text_area :message, rows: 8, cols: 40, required: true,
                              placeholder: , t("message_placeholder")%></br>
            <div class= "hidden">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <%= f.submit t("send_message"), class: "button_2" %>
        <% end %>
      </div>
      <div  id="flash-message">
        <%= render 'shared/flash' %>
      </div>
    </div>
    <div class="contact-map">
      <div id="map"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>

<script type="text/javascript"> $(document).ready(function(){ if(document.URL.indexOf("#")==-1){ url = document.URL+"#"; location = "#"; location.reload(); }}); </script>


