<h1> NOTE: This page is still under construction </h1>

<div class="container">
  <div id="map"
     style="width: 100%; height: 50vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div id="contact">
    <%= simple_form_for(@contact) do |f| %>
        <div class="col-12">
        <%= f.label :name %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>
        </div>
        <div class="col-12">
        <%= f.label :email %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>
        </div>
        <div class="col-12">
        <%= f.label :phone %> <br>
        <%= f.text_field :phone, class: "contact-form-text-area"  %>
        </div>
        <div class="col-12">
        <%= f.label :message %></br>
        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                          placeholder: "Send me a message"%></br>
        </div>
        <div class= "hidden">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

        <%= f.submit 'Send Message', class: "button_1" %>
    <% end %>
  </div>
  <div class="col-md-6" id="flash-message">
    <%= render 'shared/flash' %>
  </div>
</div>


<script type="text/javascript"> $(document).ready(function(){ if(document.URL.indexOf("#")==-1){ url = document.URL+"#"; location = "#"; location.reload(); }}); </script>


